@model BuscaBrete.Models.Postulacion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Postulacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FechaPostulacion" class="control-label"></label>
                <input asp-for="FechaPostulacion" class="form-control" />
                <span asp-validation-for="FechaPostulacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostulanteId" class="control-label"></label>
                <input asp-for="PostulanteId" class="form-control" />
                <span asp-validation-for="PostulanteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfertaId" class="control-label"></label>
                <input asp-for="OfertaId" class="form-control" />
                <span asp-validation-for="OfertaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
